 *{margin: 0; padding: 0;}
  
 
 body{
    
    height : 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 
.container1
{
    position: relative;
    top: 20vh;
}
.navigation
{
    width: 60%;
    margin: 0 auto;
    
    background-color: rgb(5, 5, 5);
}

.navigation ul
{
    display: flex;
    justify-content:center;
     flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.navigation ul li
{
    list-style: none;
    position: relative;
    padding: 10px 0;
    box-sizing: border-box;
    transition: 0.5s;
    border-right: 1px solid rgba( 255, 255,255);
}
.navigation ul li:hover
{ background: #2196f3;

}
.navigation ul li a
{text-decoration: none;
    padding: 0 20px;
    color: #fff;
}

.navigation ul li ul{
    position: absolute;
    background: rgb(7, 7, 7);
    top: 39px;
    left: 0;
    width: 200px;
    display: block;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.navigation ul li:hover ul{
    opacity: 1;
    visibility: visible;
}

.navigation ul li ul li
{  border-right: none;
   border-bottom: 1px solid rgba( 255, 255,255);
}

@media (max-width: 768px)
{
    .navigation ul
{
    display: block;
}
.navigation ul li
{
    display: block;
}
.navigation ul li ul
{
     width: 100%;
     z-index: 1;
}
 
}

.main
{   font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 25px;
    align-items: center;
    margin: 70px auto;
    width: 800px;
    text-align: center;
}
table{
    width: 100%;
}
input[type="range"]
{
    width: 200px;
    height: 50px;
}
 h1{
    font-size: 45px;
    margin-top: 100px; 
}
h2{
    font-size: 25px;
}
.box
{     
    margin: 20px;
    display: inline-block;
}
@media (max-width: 786px)
{
    .box
    {
        display: block;
        margin: 50px;
    }
    .main{
        width: 100%;
    }
}

  